<div class="title-style"> Reversing a string</div>
<div class="input-container">Please enter the string</div>
<input type=“text” name="text"  [(ngModel)]="data" placeholder="Enter string value"/>
<button (click)="ReverseStringUsingSplit()" class="button">Reverse using split and reverse</button>
<p>
    {{text}}
  </p>
<br>
<br>
<div class="input-container">Please enter the string</div>
<input type=“text” name="text"  [(ngModel)]="charValue" placeholder="Enter character array value"/>
<button (click)="reversingAString()" class="button">Reverse</button>
<p>
  {{result}}
</p>