<h3> Reversing a string</h3>
<div><span>Please enter the string</span></div>
<input type=“text” name="text"  [(ngModel)]="data" placeholder="Enter string value"/>
<button (click)="ReverseStringUsingSplit()">Reverse using split and reverse</button>
<p>
    {{text}}
  </p>
<br>
<br>
<div><span>Please enter the string</span></div>
<input type=“text” name="text"  [(ngModel)]="charValue" placeholder="Enter character array value"/>
<button (click)="reversingAString()">Reverse</button>
<p>
  {{result}}
</p>