
.title-style{
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 2em;
    font-family: Times New Roman !important;
    color: #004d80 !important; 
}
.input-container{
    font-family: Times New Roman !important;
    color: #004d80 !important; 
    margin-top:-21px;
    margin-bottom: 8px;
}
input{
    border: 1px solid #ccc;
  border-radius: 4px !important;
  box-sizing: border-box !important;
  width:200px;
  padding:10px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 9px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #008CBA;
  }
  li{
    font-family: Times New Roman;
    color: #004d80; 
}
  