<!--The content below is only a placeholder and can be replaced.-->
<div>
  <span class="title-style">Welcome to {{ title }}!</span>
  <!-- nav style="display: block" -->
  <span class="link-container">
      <a class="link-space" routerLink="/assignments">Count Characters</a>
      <a class="link-space" routerLink="/difference">Let and this</a>
      <a class="link-space" routerLink="/findKeys">Find Keys</a>
      <a class="link-space" routerLink="/reverseString">Reverse string</a>
      <a routerLink="/duplicateString">Remove Duplicate string</a>
    <!-- /nav -->
  </span>
</div>
<ul type="square">
  <li> Difference between ‘this’ and ‘let’ and when to use what, explain with examples. <a
      routerLink="/difference">Go</a></li>
  <li> Write a function which accepts an array of strings and returns a map of character to count of the
    character(including spaces and special characters). <a routerLink="/assignments">Go</a></li>
  <li>Write a function to return all the keys present in an object at any level.<a routerLink="/findKeys">Go</a></li>
  <li>Write a function to reverse every word of a string.
    · Using split and reverse
    · Without using split and reverse and in O(1) space (since strings are immutable, assume that the input is a
    character array).
    <a routerLink="/reverseString">Go</a>
  </li>
  <li>
    Write a function to remove duplicate strings from an array of strings. <a routerLink="/duplicateString">Go</a>
  </li>
</ul>
<hr>
<router-outlet></router-outlet>